/* Styles for Mobile Site */

/* Header & Hero */
h1{
    font-size: 4rem;
    padding: 10px;
    border: 1rem double #96887E;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin: 25px;
}

h2{
    font-size:3rem;
    text-align:center;
    margin-bottom: 20px;
}

h3{
    font-size:1.5rem;
    text-align:center;
}

body{
    text-align:center;
    background-color: #79E4EB;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #423E3A;
    font-size: 20px;
}

p{
    font-size: 22.5px;
}

#hero{
    margin-bottom:2rem;
    background-color: #EBA678;
    padding: 20px;
    border: 1rem solid #96887E;
    box-shadow:5px 5px 5px black;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 10px;
}

#hero div{
    max-width: 60%;
    columns: 20rem;
}

#hero img{
    border: 15px solid #516C6E;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    box-shadow: 10px 10px 10px 10px;
}


/* Projects */
#projects img{
    max-width: 80%;
    border: 6px solid #25CCEF;
    box-shadow: 7px 7px 7px black;
    margin: 5em;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom: 5px;
    margin-top: 30px;
}

#projects{
    display: block;
    flex-direction: column;
    align-items: center;
    border: 1rem solid #96887E;
    box-shadow:5px 5px 5px black;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #EBA678;
    margin: 10px;
}

#project{
    display: inline-block;
}

/* Reviews */
#reviews{
    border: 8px double #516C6E;
    background-color:#EBA678;
    margin-bottom: 30px;
    margin: 10px;
}

.review{
    text-align: start;
    margin-bottom: 10px; 
    margin-left: 5px;
    margin-right: 5px;
    background-color: #79E4EB;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    
}

.name{
    color: white;
}

.title{
    font-weight: bold;
}

.rating{
    color: #82A8AB;
}



/* Footer */
footer{
    background-color: #516C6E;
    border: 2px dashed #82A8AB;
    color: white;
    margin: 10px;
}

/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    #hero{
        margin-bottom:2rem;
        background-color: #EBA678;
        padding: 20px;
        border: 1rem solid #96887E;
        box-shadow:5px 5px 5px black;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin: 15px;
    }

    /* Projects */
    #projects img{
        max-width: 100%;
        border: 6px solid #25CCEF;
        box-shadow: 7px 7px 7px black;
        margin: 5em;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        margin-bottom: 5px;
        margin-top: 30px;
    }

    /* Reviews */
    #reviews{
        border: 8px double #516C6E;
        background-color:#EBA678;
        margin-bottom: 40px;
        margin: 20px;
    }
    
    .review{
        text-align: start;
        margin-bottom: 10px; 
        margin-left: 5px;
        margin-right: 5px;
        background-color: #79E4EB;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        
    }

    /* Footer */
    footer{
        background-color: #516C6E;
        font-size: 1em;
        border: 3px dashed #82A8AB;
        color: white;
    }
}